body {
    background-image: url("http://www.wallpaperup.com/uploads/wallpapers/2014/08/09/419799/f006995b039d8dfe400af97f3bcf9c6f.jpg");
    background-size:100%;
    font-size:26px;

}
div {
    text-align:center;

}